.trello-board {
  display: flex;
  justify-content: space-evenly;
}

.todo {
  height: 200px;
  width: 200px;
  background-color: #f9d976;
  border-radius: 15px;
}

.pending {
  height: 200px;
  width: 200px;
  background-color: #f9d976;
  border-radius: 15px;
}

.completed {
  height: 200px;
  width: 200px;
  background-color: #a0d976;
  border-radius: 15px;
}
